
.App {
  overflow: auto;
  background-color: #381446;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-areas: "header"
                         "main"
                         "footer";
}



